@import "react-slideshow-image/dist/styles.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.each-slide>div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 500px;
}

/* .each-slide span {
  padding: 20px;
  font-size: 20px;
  text-align: center;
} */
.banner{
  position: relative;
}
.video_active iframe{
  position: absolute;
  top: 150px;
  opacity: 100%;
  width: 700px;
  height: 400px;
  /* background-color: white; */
  transition: ease-in-out 0.3s;
}
.video_active,.video {
  width: 600px;
  margin: 0 auto;
}
.video iframe{
  position: absolute;
  top: 150px;
  opacity: 60%;
  height: 0;
  width: 700px;
  transition: ease-in-out 0.1s;
}
/* end slide show */
.navbar_film_btn{
  opacity: 0%;
}
.navbar_film:hover .navbar_film_btn{
  opacity: 100%;
  transition: ease 0.6s;
}
/* .navbar_film:hover .navbar_film_img{
  filter: brightness(50%);
  background-color: black;
} */

.tab1_film_btn{
  opacity: 0%;
}
.tab1_film:hover .tab1_film_btn{
  opacity: 100%;
  transition: ease 0.6s;
}
.tab1_film:hover .tab1_film_img{
  overflow: hidden;
}
.tab1_film:hover .tab1_film_img img{
  filter: brightness(50%);
  scale: 1.2;
  transition: ease 0.6s;
}
.centered{
  display: flex;
  justify-content: center;
  align-items: center;
}