@import "react-slideshow-image/dist/styles.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.each-slide>div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 500px;
}

/* .each-slide span {
  padding: 20px;
  font-size: 20px;
  text-align: center;
} */
.banner{
  position: relative;
}
.video_active iframe{
  position: absolute;
  top: 50px;
  opacity: 100%;
  width: 600px;
  height: 400px;
  background-color: white;
  transition: ease-in-out 0.4s;
}
.video_active,.video {
  width: 600px;
  margin: 0 auto;
}
.video iframe{
  position: absolute;
  top: 50px;
  opacity: 100%;
  height: 0;
  width: 600px;
  transition: ease-in-out 0.2s;
}
/* .exit_video{
  display: block;
  position: absolute;
  top: 55px;
  left:1060px;
}
.exit_video_hide{
  display: none;
} */

/* end slide show */
.navbar_film_btn{
  opacity: 0%;
}
.navbar_film:hover .navbar_film_btn{
  opacity: 100%;
  transition: ease 0.6s;
}
.navbar_film:hover .navbar_film_img{
  opacity: 50%;
}

.tab1_film_btn{
  opacity: 0%;
}
.tab1_film:hover .tab1_film_btn{
  opacity: 100%;
  transition: ease 0.6s;
}
.tab1_film:hover .tab1_film_img{
  opacity: 40%;
  overflow: hidden;
}
.tab1_film:hover .tab1_film_img img{
  scale: 1.2;
  transition: ease 0.6s;
}